/ChangeLogger/obj/
/ChangeLogger/bin/
/ChangeLogger/REVISION
/ChangeLogger/build/
/ChangeLogger/AddIns/
/ChangeLogger/doc/ChangeLog.html
/ChangeLogger/data/resources/StringResources.*.resources
/ChangeLogger/src/AddIns/Analysis/Profiler/Controller/Data/UnmanagedCallTreeNode64.cs
/ChangeLogger/src/AddIns/Analysis/Profiler/Controller/Profiler64.cs
/ChangeLogger/src/AddIns/Analysis/Profiler/Controller/structs64.cs
/ChangeLogger/src/AddIns/Analysis/Profiler/Hook/Callback.x64.obj
/ChangeLogger/src/AddIns/Analysis/Profiler/Hook/x64
/ChangeLogger/src/AddIns/Analysis/Profiler/Hook/Win32
/ChangeLogger/src/Tools/UpdateAssemblyInfo/bin
/ChangeLogger/src/Setup/SharpDevelop.Setup.wixproj.user
/ChangeLogger/src/Main/ICSharpCode.SharpDevelop.Sda/ICSharpCode.SharpDevelop.Sda.dll.config
/ChangeLogger/src/Main/SharpDevelop/app.config
/ChangeLogger/src/Main/GlobalAssemblyInfo.cs
/ChangeLogger/src/Main/GlobalAssemblyInfo.vb
/ChangeLogger/src/AddIns/Misc/UsageDataCollector/UsageDataCollector.AddIn/AnalyticsMonitor.AppProperties.cs

/ChangeLogger/src/AddIns/Misc/PackageManagement/Packages/AvalonEdit/lib
/ChangeLogger/packages/
/ChangeLogger/src/Tools/ResGet/*.log

.dropbox*
desktop.ini